<?xml version="1.0"?>

<model>
  <name>cereal_box</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Miguel Angel Rodriguez</name>
    <email>duckfost@theconstructsim.com</email>
  </author>

  <description>
    cereal_box Black created by https://sketchfab.com/3d-models/cereal-box-nutty-nuts-070e0d3816bb444e883533a7297b3da7
  </description>

</model>
